---
layout: default
---

<p class="intro">
  Hi there. I'm Aaron. Originally from NZ, I moved to Australia to study a
  Bachelor of Electrical Engineering at USYD (graduating mid 2028). I'm
  interested in FPGAs and anything computing really.
</p>

<h2>Writing</h2>

{% if site.posts.size == 0 %}
  <p>Nothing published yet.</p>
{% else %}
  <ul class="postlist">
    {% for post in site.posts %}
      <li>
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
